body{
    font-family: Arial, sans-serif;
    margin:0;
    background: radial-gradient(circle,rgba(133, 164, 168, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.header{
    display: flex;
    color:white;
    padding:15px;
    align-items: center;
}

.circulo {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo img {
    min-width: 100%;
    min-height: 100%;
}

.name {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    font-size: 25px;
    height: 30px;
}

.title1{
    font-size: 5vh;
}

.button{
    border: none;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 20vh;
    background-color: white;
    transition:.3s;
}

.button:hover {
    background-color: black;
    color: white;
}

nav{
    margin-left: 35%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover {
    color: #686868;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding:75px;
    color:white;
}

.sobremi {
    
}

section{
    padding:60px;
}

.proyecto{
    background:white;
    padding:20px;
    margin:10px 0;
    border-radius:10px;
}

.button-proyectos{
    border: none;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 20vh;
    background: black;
    color: white;
    transition:.3s;
}

.button-proyectos:hover {
    background-color: rgb(57, 56, 56);    
}

.enlace{
    
    color: blue;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}